<div class=" container-lg container-principal">
    <div class="row">
      <div class="col-sm-12 align-self-center border border-danger" >
        <div class="row">
          <!-- MENU GENERAL-->
          <div class="col-sm-1" >
            
            
            <div class="row ">
              <div class="col-lg-12 col-sm-12 nopadding">
                <button class="btn btn-menu btn-lg">
                  <div class="bt-content">
                      <fa-icon [icon]="userIcon"></fa-icon><br>
                      <span class="label-button">ACERCA</span>
                  </div>
                </button>
              </div>

              <div class=" col-lg-12 col-sm-12 nopadding">
                <button class="btn btn-menu btn-lg">
                  <div class="bt-content">
                    <fa-icon [icon]="userInfo"></fa-icon><br>
                    <span class="label-button">RESUMEN</span>
                  </div>
                </button>
              </div>

              <div class="col-lg-12 col-sm-12 nopadding">
                <button class="btn btn-menu btn-lg">
                  <div class="bt-content">
                    <fa-icon [icon]="useBrief"></fa-icon><br>
                    <span class="label-button">TRABAJOS</span>
                  </div>
                </button>
              </div>

              <div class="col-lg-12 col-sm-12 nopadding">
                <button class="btn btn-menu btn-lg">
                  <div class="bt-content">
                    <fa-icon [icon]="useComment"></fa-icon><br>
                    <span class="label-button">BLOG</span>
                  </div>
                </button>
              </div>

              <div class="col-lg-12 col-sm-12 nopadding">
                <button class="btn btn-menu btn-lg">
                  <div class="bt-content">
                    <fa-icon [icon]="useAt"></fa-icon><br>
                    <span class="label-button">CONTACTO</span>
                  </div>
                </button>
              </div>


            </div>
          </div> 
          <div class="col-sm-5 border border-secondary">content</div>
          <div class="col-sm-6 border border-warning">content</div>
        </div>
      </div>
    </div>
</div>