<div class="d-flex h-100 p-3 mx-auto flex-column">
  <main role="main" class="mh-100 " style="border: 1px solid yellow;">
    <div class="container-fluid">
      <div class="row" > <!--ROW INIT-->
        <div class="col-sm-1" style="border: 1px solid greenyellow;">
          <div class="row justify-content-end">
            <div class="col-lg-10 m-0 p-0 d-flex justify-content-start" style="border:1px solid #17a2b8; ">
              <button class="btn btn-menu ml-0 w-100 h-100 profile-menu-button">
                  <mat-icon>account_circle</mat-icon>
                  <span class="profile-menu-button-label">ACERCA</span>
              </button>
            </div>
            <div class="col-lg-10 m-0 p-0 d-flex justify-content-start" style="border:1px solid #17a2b8; ">
              <button class="btn btn-menu ml-0 w-100 profile-menu-button">
                <mat-icon>account_circle</mat-icon>
                <span class="profile-menu-button-label">RESUMEN</span>
              </button>
            </div>
            <div class="col-lg-10 m-0 p-0 d-flex justify-content-start" style="border:1px solid #17a2b8; ">
              <button class="btn btn-menu ml-0 w-100 profile-menu-button">
                  <mat-icon>account_circle</mat-icon>
                  <span class="profile-menu-button-label">TRABAJOS</span>
              </button>
            </div>
            <div class="col-lg-10 m-0 p-0 d-flex justify-content-start" style="border:1px solid #17a2b8; ">
              <button class="btn btn-menu ml-0 w-100 profile-menu-button">
                <mat-icon>account_circle</mat-icon>
                <span class="profile-menu-button-label">BLOG</span>
              </button>
            </div>
            <div class="col-lg-10 m-0 p-0 d-flex justify-content-start" style="border:1px solid #17a2b8; ">
              <button class="btn btn-menu ml-0 w-100 profile-menu-button">
                <mat-icon>account_circle</mat-icon>
                <span class="profile-menu-button-label">CONTACTO</span>
              </button>
            </div>

          </div>
        </div>
        <div class="col-sm-5" style="border: 1px solid blue;">
        </div>
        <div class="col-sm-6" style="border: 1px solid red;">
        </div>
      </div>
    </div>
  </main>
</div>

    
<!-- <div class=" container-lg container-principal">
    <div class="row">
      <div class="col-sm-12 align-self-center border border-danger" >
        <div class="row">
          <div class="col-sm-1" >
            
            
            <div class="row ">
              <div class="col-lg-12 col-sm-12 nopadding">
                <button class="btn btn-menu btn-lg">
                  <div class="bt-content">
                    <mat-icon>account_circle</mat-icon>
                    <span class="label-button">ACERCA</span>
                  </div>
                </button>
              </div>

              <div class=" col-lg-12 col-sm-12 nopadding">
                <button class="btn btn-menu btn-lg">
                  <div class="bt-content">
                    
                    <span class="label-button">RESUMEN</span>
                  </div>
                </button>
              </div>

              <div class="col-lg-12 col-sm-12 nopadding">
                <button class="btn btn-menu btn-lg">
                  <div class="bt-content">
                    
                    <span class="label-button">TRABAJOS</span>
                  </div>
                </button>
              </div>

              <div class="col-lg-12 col-sm-12 nopadding">
                <button class="btn btn-menu btn-lg">
                  <div class="bt-content">
                    
                    <span class="label-button">BLOG</span>
                  </div>
                </button>
              </div>

              <div class="col-lg-12 col-sm-12 nopadding">
                <button class="btn btn-menu btn-lg">
                  <div class="bt-content">
                    
                    <span class="label-button">CONTACTO</span>
                  </div>
                </button>
              </div>


            </div>
          </div> 
          <div class="col-sm-5 border border-secondary">content</div>
          <div class="col-sm-6 border border-warning">content</div>
        </div>
      </div>
    </div>
</div> -->